rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // match /{document=**} {
    //   allow read, write: if
    //       request.time < timestamp.date(2022, 1, 25);
    // }
    match /users/{user_id}{  // 여기서 user_id는 내가 준 이름으로, users안에 있는 doc들 id를 부르는 이름임
      allow read, create: if request.auth != null;  // login하게되면 request.auth는 null이 아니게 됨. (= res.user라고 생각하면 됨)
      allow update: if request.auth.uid == user_id;
    }
    match /projects/{project_id}{
      allow read, create, update: if request.auth != null;
      allow delete: if request.auth.uid == resource.data.createdBy.id    // resource는 doc자체를 의미함. 즉, resource.data는 doc의 데이터들을 의미함.
    }
  }
}

// users collection
// - any authenticated user can read & create
// - only users who "own/created" a document can update it (user id's match) // ( update예시 ) isOnline prop이 true, false, true...

// projects collection
// - any authenticated user can read, create & update a document // ( update예시 ) comment하기..
// - only users who "own/created" a document can delete it