.project-details {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: start;
  grid-gap: 60px;
}

/* project summary */
.project-summary {
  background-color: #fff;
  padding: 30px;
  border-radius: 4px;
}
.project-summary .due-date {
  margin: 10px 0;
  font-size: 0.9em;
  color: var(--title-color);
}
.project-summary .details {
  margin: 30px 0;
  color: var(--text-color);
  line-height: 1.8em;
  font-size: 0.9em;
}
.project-summary h4 {
  color: var(--text-color);
  font-size: 0.9em;
}
.project-summary h2 {
  color: var(--title-color);
  font-size: 1.1em;
  margin-bottom: 6px;
}
.project-summary .assigned-users {
  display: flex;
  margin-top: 20px;
}
.project-summary .assigned-users .avatar {
  margin-right: 10px;
}
.project-summary + .btn {
  margin-top: 20px;
}
/* project comments */
.project-comments label {
  margin-bottom: 0px;
}
.project-comments textarea {
  min-height: 40px;
  font-size: 1.5em;
  margin-top: 10px;
}

/* comment list */
.project-comments h4 {
  color: #fff;
}
.project-comments li {
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  margin-top: 20px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  background: #fff;
}
.comment-author {
  display: flex;
  align-items: center;
  color: var(--title-color);
}
.comment-author .avatar {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.comment-edit-options {
  margin-left: auto;
}

.project-comments .comment-edit-options img {
  margin-right: 5px;
  filter: invert(75%);
  width: 20px;
  cursor: pointer;
}
.project-comments .comment-edit-options img:last-child {
  padding-left: 5px;
}
.comment-date {
  color: var(--text-color);
  font-size: 0.9em;
  margin: 4px 0 10px;
}
.comment-content {
  color: var(--text-color);
  font-size: 0.9em;
  display: flex;
  /* align-items: center; */
}
.btnParent {
  padding-left: 10px;
  margin-left: auto;
}
.cancelBtn,
.saveBtn {
  background: #fff;
  padding: 4px 4px;
  width: 55px;
  border-radius: 4px;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 0.8em;
  border: 1px solid var(--primary-color);
}
.cancelBtn {
  color: var(--highlight-color);
  border: 1px solid var(--highlight-color);
}
.saveBtn {
  margin-top: 5px;
}
.cancelBtn:hover {
  background: var(--highlight-color);
  color: #fff;
}
.saveBtn:hover {
  color: #fff;
  background: var(--primary-color);
}
.add-comment .btn {
  margin-top: 15px;
}
.add-comment span {
  color: #fff;
}
