.auth-form {
  max-width: 360px;
  margin: 130px auto;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 7px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  background: #fff;
}
.auth-form label {
  color: #000;
}
.sign-up {
  /* margin: 0 auto; */
  text-align: center;
  padding-top: 15px;
}
